<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot password</title>
</head>
<body>
    <h1>Forgot Password</h1>
    <% if (locals.message) { %>
        <p><%= message %></p>
      <% } %>
    <form action="" method="post">
        <label for="email" name="email">Email</label>
        <input type="email" name="email" id="email">
        <br>
        <button type="submit" value="submit">Send email</button>
    </form>
</body>
</html>