<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    <form action="/user/login" method="get">
        <button type="submit">Login</button>
    </form>
    <form action="/user/register" method="get">
        <button type="submit">Register</button>
    </form>
</body>
</html>